* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: radial-gradient(circle at top, #081a33, #020814);
    color: white;
    overflow-x: hidden;
}

/* STAR CANVAS */
#stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/* NAVBAR */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(2, 8, 20, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    z-index: 1000;
}

nav .logo {
    color: #00f6ff;
    font-size: 1.2rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00f6ff;
}

/* HERO */
.hero {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 20px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
}

.hero h1 span {
    color: #00e5ff;
}

.hero p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #d0d0d0;
}


.subtitle {
    margin-top: 20px;
    opacity: 0.85;
}

/* SECTIONS */
.section {
    padding: 100px 80px;
}

.section h2 {
    color: #00f6ff;
    text-align: center;
    margin-bottom: 40px;
}

/* CARDS */
.card {
    background: rgba(255, 255, 255, 0.06);
    padding: 25px;
    border-radius: 14px;
    border: 1px solid rgba(0, 246, 255, 0.25);
    margin-bottom: 25px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.box {
    background: rgba(255, 255, 255, 0.06);
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid rgba(0, 246, 255, 0.3);
}

/* LINKS */
a {
    color: #00f6ff;
    text-decoration: none;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: rgba(2, 8, 20, 0.9);
    opacity: 0.8;
}
